/* .premiertitre{
    color: red;
}

#titre{

}

.sombre{
    background-color: black;
    color: white;
}

.clair{
    background-color: white;
    color: black;
}


#app{
    background-color: violet;
    color: white;
} */

/* 
.disparaitre{
    display: none;
} */

#titre{
    color:red;
}
#titre1{
    color:violet
}

.someStyle{
    color: violet;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

.p{
    background-color: #731b1b;
}